- model_class = Parlamentarian
.row
  .col.card.shadow.overflow-inherit
    .d-sm-flex.align-items-center.justify-content-between.pb-3.pt-3
      .h4.title-gray= t('.title')

    = search_form_for @q do |f|
      = f.label :name_cont
      = f.search_field :name_cont
      = f.label :articles_title_start
      = f.search_field :articles_title_start
      = f.label :name_or_description_or_email_or_articles_title_cont
      = f.search_field :name_or_description_or_email_or_articles_title_cont
      = f.submit
    .table-responsive
      %table.table.table-hover.table-borderless.text-center
        %thead.thead-light
          %tr
            %th{title: model_class.human_attribute_name(:id_register_detail)}
              = model_class.human_attribute_name(:id_register)
            %th{title: model_class.human_attribute_name(:name_detail)}
              = model_class.human_attribute_name(:name)
            %th{title: model_class.human_attribute_name(:political_party_detail)}
              = model_class.human_attribute_name(:political_party)
            %th= t('.total')
            %th= t('helpers.list.actions')
        %tbody
          - @parlamentarians.each do |parlamentarian|
            %tr
              %td= parlamentarian.id_register
              %td= parlamentarian.name
              %td= parlamentarian.political_party
              %td= number_to_currency(parlamentarian.total)
              %td
                = link_to parlamentarian_expenses_path(parlamentarian) do
                  %i.fas.fa-search
    .d-flex.justify-content-between
      #left.bd-highlight
      %center.bd-highlight.page
        = paginate @parlamentarians, remote: true
        = page_entries_info @parlamentarians
      #right.bd-highlight