%p#notice= notice

%p
  %b Parlamentarian:
  = @expense.parlamentarian
%p
  %b Date issue:
  = @expense.date_issue
%p
  %b Provider:
  = @expense.provider
%p
  %b Value:
  = @expense.value
%p
  %b Url document:
  = @expense.url_document

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
